<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title><%= @template.title %></title>
<style type="text/css">
a:hover { color: #09F !important; text-decoration: underline !important; }
a:hover#vw { background-color: #CCC !important; text-decoration: none !important; color:#000 !important; }
a:hover#ff { background-color: #6CF !important; text-decoration: none !important; color:#FFF !important; }
</style>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #FFFFFF;" bgcolor="#FFFFFF" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
    <tr>
        <td>
            <!--email container-->
            <table cellspacing="0" border="0" align="center" cellpadding="0" width="624">
                <tr>
                    <td>
                        <!--header-->
                        <table cellspacing="0" border="0" cellpadding="0" width="624">
                            <tr>
                                <td valign="top"> <img src="<%= @path_root %>spacer-top.jpg" height="12" width="624" />
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td valign="top" width="624">
                                                <p><img src="<%= @path_root %>line-break.jpg" height="10" width="624" /></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--header content-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <img src="<%= @logo_url %>" height="196" width="624" alt="A Capital"/>
                                            </td>

                                        </tr>
                                    </table>
                                    <!--/header content-->
                                </td>
                            </tr>
                        </table>
                        <!--/header-->
                        <!--email content-->
                        <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                            <tr>
                                <td>
                                    <!--section 1-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><a href="http://www.acapital.hk/milestones.php"><img src="<%= @path_root %>img1.gif" height="222" alt="A Capital and SPARKLE Roll" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="622" /></a></p>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="<%= @path_root %>spacer-ten.jpg" height="10" width="624" /></p>
                                                <h2 style="font-size: 36px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 0px;">A CAPITAL and SPARKLE ROLL invest 25M EURO in Bang & Olufsen</h2>
                                                <p style="font-size: 14px; line-height: 20px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px; text-align:justify;">
                                                The Board of Directors of Bang & Olufsen announces today it has approved a X% capital increase reserved for A CAPITAL and Sparkle Roll Holdings to become Bang & Olufsen’s strategic shareholders with the objective to assist the company accelerating its development in China.
<br/>


The strategic partnership agreement announced today aims at assisting Bang & Olufsen’s development in China through leveraging the resources of the strategic investors in distribution, branding and local operations. Sparkle Roll Holdings is a privately owned investment vehicle and market leader within international luxury goods importation, distribution and retailing in China, having achieved an impressive track record with brands as Rolls Royce, Bentley, Lamborghini, Boucheron, Parmigiani and Burberry among others.
<br/>


Following the 10% capital increase, A Capital and Sparkle Roll Holdings will acquire 9.02% of BRAVO’s share capital on a fully diluted basis, provided that all regulatory approvals in China have been obtained.

 <br/>

With this agreement Bang & Olufsen will establish a China Advisory Board guiding the company’s strategy and implementation in China with members appointed by the Board of Directors of Bang & Olufsen in which A CAPITAL and Sparkle Roll Holdings will be represented. Bang & Olufsen will also recommend at the next annual meeting following the closing of the transaction to elect Mr. Andre Loesekrug-Pietri to the Board of Directors of Bang & Olufsen.
<br/>


The investment is expected to close following the approval process by the relevant Chinese authorities before 30 September 2012.

 <br/>

Tue Mantoni, CEO Bang & Olufsen, said: “Their advice on building our brand, retail network and awareness especially with high net worth individuals will positively impact Bang & Olufsen’s development in a strategically important market by providing access to relevant high end retail locations, media and marketing opportunities that would have been difficult and time consuming to access without the partnership with Sparkle Roll and A Capital.”

 <br/>

Andre Loesekrug-Pietri, Founder & Managing Partner of A CAPITAL commented: “We are very excited by the investment and strategic partnership with BRAVO and SRH. Despite being a truly iconic European Brand BRAVO had not yet truly explored the Chinese market. We are therefore strongly convinced by the huge growth potential for BRAVO in China. Together with SRH, and its outstanding and unique competences in luxury distribution in China, we will be able to accelerate and secure the growth of BRAVO in China.  This investment with SRH not only confirms our investment strategy but also offers a new path for Chinese investors to acquire minority stakes in world leading brands.”
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/section 1-->
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="30" valign="middle" width="624"><img src="<%= @path_root %>line-break-2.jpg" height="13" width="624" /></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--section 2-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <h3 style="font-size: 24px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 0px;">A CAPITAL latest releases and news:</h3>
                                                <img src="<%= @path_root %>line-break.jpg" height="10" width="624" />
                                                <table cellspacing="0" border="0" cellpadding="8" width="100%" style="margin-top: 10px;">
                                                    <tr>
                                                        <td valign="top">
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="<%= @path_root %>img2.jpg" height="133" alt="dragon index" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="184" /></p>
                                                            <h4 style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 12px 0px;">DRAGON INDEX&trade;</h4>
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">The leading indicator for Chinese outbound investments globally & the globalization rate of the Chinese economy<br/>
Download the Q1 2012 edition <a href="http://www.acapital.hk/dragonindex/A%20CAPITAL%20DRAGON%20INDEX%20Q1%202012%20ENG.pdf">here</a></p>
                                                        </td>
                                                        <td valign="top">
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="<%= @path_root %>img3.jpg" height="133" alt="latest press" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="184" /></p>
                                                            <h4 style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 12px 0px;"> Latest Press </h4>
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><a href="http://www.acapital.hk/AC20120622_SCMP.pdf">South China Morning Post, June 22, 2012-07-18</a></p>
                                                        </td>
                                                        <td valign="top">
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="<%= @path_root %>img4.jpg" height="133" alt="Speaking engagement" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="184" /></p>
                                                            <h4 style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 12px 0px;">Speaking Engagement</h4>
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><a href="insert link: http://www.evca.eu/symposium2012/programme.html">EVCA Symposium, Barcelone, June 6, 2012</a></p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="30" valign="middle" width="624"><img src="<%= @path_root %>line-break-2.jpg" height="13" width="624" /></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--footer-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">

                                                    Copyright &copy; 2012 A Capital.</p>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="<%= @path_root %>spacer-ten.jpg" height="10" width="624" /></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/footer-->
                                </td>
                            </tr>
                        </table>
                        <!--/email content-->
                    </td>
                </tr>
            </table>
            <!--/email container-->
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>
