<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title><%= @template.title %></title>
<style type="text/css">
a:hover { color: #09F !important; text-decoration: underline !important; }
a:hover#vw { background-color: #CCC !important; text-decoration: none !important; color:#000 !important; }
a:hover#ff { background-color: #6CF !important; text-decoration: none !important; color:#FFF !important; }
</style>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #FFFFFF;" bgcolor="#FFFFFF" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
    <tr>
        <td>
            <!--email container-->
            <table cellspacing="0" border="0" align="center" cellpadding="0" width="624">
                <tr>
                    <td>
                        <!--header-->
                        <table cellspacing="0" border="0" cellpadding="0" width="624">
                            <tr>
                                <td valign="top"> <img src="<%= @path_root %>spacer-top.jpg" height="12" width="624" />
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td valign="top" width="624">
                                                <p><img src="<%= @path_root %>line-break.jpg" height="10" width="624" /></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--header content-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td><a href="http://www.acapital.hk">
                                                <img src="http://<%= @logo_url %>" height="196" width="624" alt="A Capital" style="border: solid 1px #FFF;" /></a>
                                            </td>

                                        </tr>
                                    </table>
                                    <!--/header content-->
                                </td>
                            </tr>
                        </table>
                        <!--/header-->
                        <!--email content-->
                        <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                            <tr>
                                <td>
                                    <!--section 1-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><a href="http://www.acapital.hk/milestones.php"><img src="<%= @path_root %>header1.jpg" height="222" alt="A Capital and SPARKLE Roll" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="622" /></a></p>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="<%= @path_root %>spacer-ten.jpg" height="10" width="624" /></p>
                                                <h2 style="font-size: 36px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 0px;">A CAPITAL and SPARKLE ROLL invest 25M EURO in Bang & Olufsen</h2>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px; text-align:justify;">
                                                Bang & Olufsen董事会今日宣布批准X％的定向增发引入A CAPITAL和耀莱控股成为其战略股东，旨在协助加快公司在中国的业务发展。
<br/>


今日宣布的战略合作协议旨在通过利用战略投资者分销、品牌宣传和本土运营的资源协助Bang & Olufsen在中国的业务发展。耀莱集团是一家私营投资实体，在国际奢侈品进口、分销和零售方面为市场领先者，拥有令人印象深刻的销售业绩。其合作品牌包括劳斯莱斯，宾利，兰博基尼，宝诗龙，帕玛强尼和博柏利等。
<br/>


通过10％的增发，A CAPITAL和耀莱集团将收购Bang & Olufsen全面稀释后股本的9.02%（假设已获得中国所有监管机构的批准）。

 <br/>

通过这项协议，Bang & Olufsen将建立一个中国顾问委员会用于指导公司在中国市场战略的制定和实施。委员会成员将由Bang & Olufsen董事会指定，A Capital和耀莱控股将拥有各自席位。Bang & Olufsen同时将在交易交割后的下一届年会中推选龙博望先生为Bang & Olufsen的董事会成员。
<br/>


根据中国相关机构的审批流程，投资预计将在2012年9月30日前完成交割。
 <br/>

Bang & Olufsen的首席执行官图尔曼多尼表示：“他们对我们品牌、营销网络和认知度建设提出的建议，尤其是将品牌与高资本净值的个人相联系，将对Bang & Olufsen在这个重要战略市场中的发展产生积极的影响，例如提供进驻高端零售场所的渠道，协助媒体与市场营销工作。与A Capital和耀莱集团的合作将帮助我们更容易且更迅速的完成这些任务。”

 <br/>

A CAPITAL创始人及执行合伙人龙博望表示：“对于该投资以及与Bang & Olufsen、耀莱控股之间的战略合作关系，我们感到十分激动。作为一个真正的欧洲标志性品牌，Bang & Olufsen还未能完全开发中国市场。因此我们坚信Bang & Olufsen在中国强大的增长潜力。携手耀莱控股，借助其在中国杰出且独树一帜的奢侈品销售才能，我们将能够稳步加速Bang & Olufsen在中国的增长。与耀莱控股的共同投资不仅验证了我们的投资战略，并且为中国投资者提供获得世界领先品牌少数股权的新途径。”
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/section 1-->
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="30" valign="middle" width="624"><img src="<%= @path_root %>line-break-2.jpg" height="13" width="624" /></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--section 2-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <h3 style="font-size: 24px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 0px;">A CAPITAL最新新闻通稿：</h3>
                                                <img src="<%= @path_root %>line-break.jpg" height="10" width="624" />
                                                <table cellspacing="0" border="0" cellpadding="8" width="100%" style="margin-top: 10px;">
                                                    <tr>
                                                        <td valign="top">
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="<%= @path_root %>img2.jpg" height="133" alt="dragon index" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="184" /></p>
                                                            <h4 style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 12px 0px;">龙指数&trade;</h4>
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">跟踪中国海外投资&中国经济全球化进程的领先指数<br/>
<a href="http://www.acapital.hk/dragonindex/A%20CAPITAL%20DRAGON%20INDEX%20Q1%202012%20ENG.pdf">点此下载2012年第一季度龙指数</a></p>
                                                        </td>
                                                        <td valign="top">
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="<%= @path_root %>img3.jpg" height="133" alt="latest press" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="184" /></p>
                                                            <h4 style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 12px 0px;"> 最新新闻通稿 </h4>
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><a href="http://www.acapital.hk/AC20120622_SCMP.pdf">南华早报，2012年6月22日</a></p>
                                                        </td>
                                                        <td valign="top">
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="<%= @path_root %>img4.jpg" height="133" alt="Speaking engagement" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="184" /></p>
                                                            <h4 style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 12px 0px;">见附件</h4>
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><a href="http://www.evca.eu/symposium2012/programme.html">欧洲股权投资协会讨论会，巴塞罗那，2012年6月6日</a></p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="30" valign="middle" width="624"><img src="<%= @path_root %>line-break-2.jpg" height="13" width="624" /></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--footer-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">

                                                    Copyright &copy; 2012 A Capital.</p>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="<%= @path_root %>spacer-ten.jpg" height="10" width="624" /></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/footer-->
                                </td>
                            </tr>
                        </table>
                        <!--/email content-->
                    </td>
                </tr>
            </table>
            <!--/email container-->
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>
